@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    5798 Ellison Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@stbank.com">Support@stbank.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@stbank.com">Marketing@stbank.com</a>
</address>

<h3>@ViewBag.CustomerMessage</h3>
<form method="post">
    <div class="container">

        <div class="align-top">
            <textarea name="customerMessage"></textarea>
        </div>

        <div class="align-bottom">
            <input type="submit" value="Send" />
        </div>   
        
    </div>
</form>