@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 margin-top-20">
        <span>You are using @Request.Browser.Browser, and that's OK!</span>
    </div>
    <div class="col-md-12">
        <span> Email us at support@summertimebank.com if you have any problems.</span>
    </div>
    <div class="col-md-12">
        <span> Or send a tweet to @@summertimebank</span>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary brn-large btn-block"><span class="glyphicon glyphicon-circle-arrow-down"></span> Withdrawal</a>
        <a href="#" class="btn btn-primary brn-large btn-block"><span class="glyphicon glyphicon-flash"></span> Quick Cash $100</a>
        <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-primary brn-large btn-block">
            <span class="glyphicon glyphicon-question-sign"></span> Balance Inquiry</a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary brn-large btn-block"><span class="glyphicon glyphicon-print"></span> Print Statement</a>
        <a href="#" class="btn btn-primary brn-large btn-block"><span class="glyphicon glyphicon-transfer"></span> Transfer Funds</a>
        <a href="#" class="btn btn-primary brn-large btn-block"><span class="glyphicon glyphicon-circle-arrow-up"></span> Deposit</a>
    </div>
</div>

